<div class="conversation">
  Person <%= conversation.person.name %> - <%= conversation.person.phone %><br>
  <%= link_to "View Conversation", conversation_messages_path(conversation) %><br>
  <hr>
</div>